* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  #bar{
    background-color: black;
    height: 80px;
  }
.container{
  width: auto;
  height: auto;
}
  .container1{
    height: 200px;
  }
  body {

      align-items: center;
      justify-content: center;
      height: 100vh;

  }
  #mover1{
    left: -12px;
  }
  .container-form {
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
  }
  .container2{
    display: flex;
    border-radius: 20px;
    box-shadow: 0 5px 7px rgba(0, 0, 0, .1);
    height: 500px;
    max-width: 900px;
    transition: all 1s ease;
    margin: 10px;
  }
  .text{
    text-align: center;
  }

  .form-body input{
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    border-radius: 2px;
    background-color: transparent;
  }
  .information {
    width: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #c7eef3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .info-childs {
    width: 100%;
    padding: 0 30px;
  }
  
  .info-childs h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .info-childs p {
    margin: 15px 0 ;
    color: #555;
  }
  
  .info-childs input {
    background-color: transparent;
    outline: none;
    border: solid 2px red;
    border-radius: 20px;
    padding: 10px 20px;
    color: red;
    cursor: pointer;
    transition: background-color .3s ease;
  }
  
  .info-childs input:hover {
    background-color: red;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #f8f8f8;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .form-information-childs {
    padding: 0 30px;
  }
  
  .form-information-childs h2 {
    color: #333;
    font-size: 2rem;
  }
  
  .form-information-childs p {
    color: #555;
  }
  
  .icons {
    margin: 15px 0;
  }
  
  .icons i {
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    margin: 0 10px;
    color: red;
    border: solid thin red;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .icons i:hover {
    background-color: red;
    color: #fff;
  }
  
  .form {
    margin: 30px 0 0 0;
  }
  
  .form label {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-radius: 20px;
    padding: 0 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  
  .form label input {
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #333;
  }
  
  .form label i {
    color: #a7a7a7;
  }
  
  .form input[type="submit"]{
    background-color: transparent;
    outline: none;
    border: solid 2px red;
    border-radius: 20px ;
    padding: 10px 20px;
    color: red;
    transition: background-color .3s ease;
  }
  
  .form input[type="submit"]:hover{
    background-color: red;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }
  .recuperar{
    color: red;
    text-decoration: none;
  }
  .enviar{
    background-color: transparent;
    outline: none;
    border: solid 2px red;
    border-radius: 20px ;
    padding: 10px 20px;
    color: red;
    transition: background-color .3s ease;
    text-decoration: none;
  }
  .enviar:hover{
    background-color: red;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
  }

  .admin{
    background-color: transparent;
    outline: none;
    border: solid 2px red;
    border-radius: 20px ;
    padding: 10px 20px;
    color: red;
    transition: background-color .3s ease;
    text-decoration: none;
  }
.admin:hover{
    background-color: red;
    border: none;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
  .hide {
    position: absolute;
    transform: translateY(-300%);
  }
  
  /*PERSONALIZACION DE MIS ALERTAS Y MENSAJES */
  .form div .alerta {
    width: 290px;
    text-align: left;
    border-radius: 7px;
    margin-bottom: 10px;
    font-size: .8rem;
  }
  
  .form > .alerta-error,
  .form > .alerta-exito {
    display: none;
  }
  
  .form .alertaError {
    display: block;
    background-color: #F66060;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .form .alertaExito {
    display: block;
    background-color: #0ca828;
    padding: .5rem 1rem;
    margin-top: 10px;
    font-weight: 500;
    font-size: .8rem;
  }
  
  .form .error {
    outline: solid 2px #9d2222;
  }
  
  /*RESPONSIVE FORM*/
  
  @media screen and (max-width:750px) {
    html {
      font-size: 12px;
    }
  }
  
  @media screen and (max-width:580px) {
    html {
      font-size: 15px;
    }
  
    .container-form {
      height: auto;
      flex-direction: column;
    }
  
    .information {
      width: 100%;
      padding: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0;
    }
  
    .form-information {
      width: 100%;
      padding: 20px;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 0;
    }
  
}
.contener_inicio{
  text-align: center;
  align-items: center;
  right: 20px;
  margin-top: 3%;
}
/*------------------------------------------------- PRIVACY_POLICY-------------------------------------- */

.container3{
  width: 50%;
  text-align: center;
  padding: 10px;
  align-items: center;
  margin-left: 25%;
  font-size: large;
}
#politicas{
  text-align: center;
  font-size: large;
}
.texto1{
  text-align: left;
}

/*------------------------------------------------- contenido-------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.container{
    max-width: 1200px;
    margin: auto;
}
h1{
    text-align: center;
    color:#fc0505 ;
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    text-align: center;
    margin-bottom: 20px;
}
nav span{
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 0 5px;
    cursor: pointer;
}
nav span:hover{
    color: red;
}
.locales{
  color: white;
  text-decoration: none;
}
.locales:hover{
  color: red;
}
header input{
    padding: 5px 10px;
    border: none;
    border: 2px solid #ccc;
    border-radius: 30px;
}
header button{
    border: none;
    padding: 7px 10px;
    border-radius: 30px;
    border: 2px solid #ccc;
}
.container-noticias{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap:30px;
    padding-bottom: 20px;
}
.container-noticias .item{
    background-color: #eee;
    max-width: 360px;
    border:2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: .3s;
}
.container-noticias .item:hover{
    box-shadow: 0 0 10px 5px #ccc;
}
.container-noticias .item:hover h2{
    text-decoration: underline;
}
.container-noticias .item .info_item{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.container-noticias .item img{
    width: 100%;
}
.container-noticias #btnSiguiente{
    cursor: pointer;
}
.container-noticias #btnSiguiente:hover{
    color: #fc0505;
}
.h3{
  font-family: 'Montserrat', sans-serif;
}
.sexo{
  text-decoration: none;
  color: red;
}
.perfil{
  margin-left: 90%;
  margin-bottom: 20%;
  border-radius: 2px;
  border: #fc0505;
  border-color: #fc0505;
}
/*-----CSS---PERFIL-------------------------------------------------------*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  line-height: 1.4;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #404040;
  font-family: "Arial", Segoe UI, Tahoma, sans-serifl, Helvetica Neue, Helvetica;
}

.seccion-perfil-usuario .perfil-usuario-body,
.seccion-perfil-usuario {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.seccion-perfil-usuario .perfil-usuario-header {
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(red, transparent);
  margin-bottom: 1.25rem;
}

.seccion-perfil-usuario .perfil-usuario-portada {
  display: block;
  position: relative;
  width: 90%;
  height: 17rem;
  background-image: linear-gradient(45deg, red, #e69090);
  border-radius: 0 0 20px 20px;
  
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: 0;
  border-radius: 8px;
  padding: 12px 25px;
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-portada .boton-portada i {
  margin-right: 1rem;
}

.seccion-perfil-usuario .perfil-usuario-avatar {
  display: flex;
  width: 180px;
  height: 180px;
  align-items: center;
  justify-content: center;
  border: 7px solid #FFFFFF;
  background-color: #DFE5F2;
  border-radius: 50%;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  position: absolute;
  bottom: -40px;
  left: calc(50% - 90px);
  z-index: 1;
}

.seccion-perfil-usuario .perfil-usuario-avatar img {
  width: 100%;
  position: relative;
  border-radius: 50%;
}

.seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
  position: absolute;
  left: -2px;
  top: -2px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.seccion-perfil-usuario .perfil-usuario-body {
  width: 70%;
  position: relative;
  max-width: 750px;
}

.seccion-perfil-usuario .perfil-usuario-body .titulo {
  display: block;
  width: 100%;
  font-size: 1.75em;
  margin-bottom: 0.5rem;
}

.seccion-perfil-usuario .perfil-usuario-body .texto {
  color: #848484;
  font-size: 0.95em;
}

.seccion-perfil-usuario .perfil-usuario-footer,
.seccion-perfil-usuario .perfil-usuario-bio {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  background-color: #fff;
  border-radius: 15px;
  width: 100%;
}

.seccion-perfil-usuario .perfil-usuario-bio {
  margin-bottom: 1.25rem;
  text-align: center;
}

.seccion-perfil-usuario .lista-datos {
  width: 50%;
  list-style: none;
}

.seccion-perfil-usuario .lista-datos li {
  padding: 5px 0;
}

.seccion-perfil-usuario .lista-datos li>.icono {
  margin-right: 1rem;
  font-size: 1.2rem;
  vertical-align: middle;
}

.seccion-perfil-usuario .redes-sociales {
  position: absolute;
  right: calc(0px - 50px - 1rem);
  top: 0;
  display: flex;
  flex-direction: column;
}

.seccion-perfil-usuario .redes-sociales .boton-redes {
  border: 0;
  background-color: #fff;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  box-shadow: 0 0 12px rgba(0, 0, 0, .2);
  font-size: 1.3rem;
}

.seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
  margin-top: .5rem;
}

.seccion-perfil-usuario .boton-redes.facebook {
  background-color: #5955FF;
}

.seccion-perfil-usuario .boton-redes.twitter {
  background-color: #35E1BF;
}

.seccion-perfil-usuario .boton-redes.instagram {
  background: linear-gradient(45deg, #FF2DFD, #40A7FF);
}

/* adactacion a dispositivos */
@media (max-width: 750px) {
  .seccion-perfil-usuario .lista-datos {
      width: 100%;
  }

  .seccion-perfil-usuario .perfil-usuario-portada,
  .seccion-perfil-usuario .perfil-usuario-body {
      width: 95%;
  }

  .seccion-perfil-usuario .redes-sociales {
      position: relative;
      flex-direction: row;
      width: 100%;
      left: 0;
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      align-items: center;
      justify-content: center
  }

  .seccion-perfil-usuario .redes-sociales .boton-redes+.boton-redes {
      margin-left: 1rem;
      margin-top: 0;
  }
}
.mensaje a {
  color: inherit;
  margin-right: .5rem;
  display: inline-block;
}
.mensaje a:hover {
  color: #309B76;
  transform: scale(1.4)
}
.texto{
  text-align: justify;
  margin-left: 25%;
}
/* Estilos para los elementos de la lista del menú */
/* Estilos para el botón del menú */
.dropbtn {
  background-color: #ffffff;
  color: white;
  float: inline-end;

  font-size: 7px;
  border: none;
  cursor: pointer;
}

/* Estilos para el contenedor del menú */
.dropdown {
  position: relative;
  display: inline-block;
  float: inline-end;
}

/* Estilos para el contenido del menú */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #e47979;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  border-radius: 50px;
  border: 1px solid white;


}

.hr {
  background-color: white;
}

/* Estilos para los elementos de la lista del menú */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Cambio de estilo al pasar el ratón sobre los elementos de la lista */
.dropdown-content a:hover {

  text-align: left;
}

/* Mostrar el menú cuando el botón se haga clic */
.dropdown:hover .dropdown-content {
  display: block;
}
#video{
  height: 500px;
  width: 250px;

}
.imgcorreo{

}
.perfil2{
  margin-right: 100px;
}
.perfil3 {
  margin-right: 100px;
  width: 100px;
  height: 100px;
}